*.py[cod]
*.class
*.egg
*.egg-info
/MANIFEST
/.idea/
.tox/
/build/
/dist/
.cache/
.eggs/
*.xbm
*.directory
/temp_gfx/
*.prg
*.asm
*.labels.txt
.mypy_cache/
/roms/basic
/roms/chargen
/roms/kernal
.vscode
roms/@eaDir
.DS_Store
